target
bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
/transaction-logs/

### MySql ###
*.mwb.bak
*.mwb.beforefix

### EhCache ###
ehcache-disk-store.*

### Atomikos ###
tmlog*
/console.log*
/exception.log*
/game.log*
/console_exception.log*
/generatorConfigDev.xml
/logs

### webpack
node_modules/
# src/main/resources/static/built
